
<%- include('partials/header') %>    
<body>
    <%- include('partials/navbar') %>
    <h1>Bem vindo ao Guia de Perguntas!</h1>
    <hr>
    <h2>Lista de Perguntas</h2>

    <!-- Scripts no final do body, na ordem correta -->
    
</body>
<%- include('partials/footer') %>
